/* Estiliza o body da página */
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh; /* Ajuste para ocupar a altura total da tela */
    background-color: #105F71;
    font-family: Arial, sans-serif;
    margin: 0; /* Remove a margem padrão */
  }
  
  /* Estiliza a sidebar */
  .sidebar {
    height: 100%;
    width: 200px; /* Largura fixa da sidebar */
    position: fixed; /* Sidebar fixa */
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
  }
  
  /* Estiliza os links da sidebar */
  .sidebar a {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* Estiliza o hover dos links da sidebar */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Estiliza o botão de fechar a sidebar */
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
  }
  
  /* Estiliza o conteúdo principal */
  #main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 200px; /* Espaço para a sidebar */
    width: calc(100% - 200px); /* Largura ajustada para compensar a sidebar */
  }
  
  /* Estiliza o botão de abrir a sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  /* Estiliza o hover do botão de abrir a sidebar */
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Estiliza o container do pagamento */
  .container {
    background-color: #fff; /* Fundo branco para o container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(100% - 220px); /* Ajuste para compensar a sidebar e o padding */
    margin-left: 220px; /* Compensa a sidebar */
    box-sizing: border-box;
    max-width: 800px; /* Largura máxima */
    margin-top: 20px; /* Espaço superior */
  }
  
  /* Estiliza o título do container de pagamento */
  .container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #070707; /* Cor de destaque */
  }
  
  /* Estiliza os grupos de input */
  .input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  /* Estiliza o label dos inputs */
  .input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    width: 50%;
  }
  
  /* Estiliza os inputs */
  .input-group input[type="text"],
  .input-group input[type="datetime-local"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
  }
  
  /* Estiliza o campo de seleção do método de pagamento */
  .input-group select {
    width: 50%; /* Define a largura para 50% */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
  }
  
  /* Estiliza o botão de calcular pagamento */
  #calcPagamentoBtn {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 50%;
    margin-top: 10px;
  }
    
    #calcPagamentoBtn:hover {
      background-color:#105F71 ;
    }
  
  /* Estiliza a área de valor de pagamento */
  #valorPagamento {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
  }
  
  /* Estiliza o botão de gerar cupom */
  #gerarCupomBtn {
    background-color: #105F71;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  
  #gerarCupomBtn:hover {
    background-color: #0a0a0a;
  }
  
  /* Estiliza o botão de voltar */
  #voltarBtn {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 50%;
    margin-top: 10px;
  }
  
  #voltarBtn:hover {
    background-color:#105F71 ;
  }
  
  /* Estiliza a página de cupom para impressão */
  @media print {
    .container {
      width: 100%;
      margin: 0;
      padding: 10px;
    }
    
    .button {
      display: none;
    }
    
    #valorPagamento {
      font-size: 20px;
    }
  }
  