body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

#sidebar {
  height: 100vh;
  width: 200px; /* Largura da sidebar */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
}

#main {
  margin-left: 250px; /* Largura da sidebar */
  padding: 20px;
  width: calc(100% - 250px); /* Ajusta a largura do conteúdo principal */
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
}

.content-container {
  max-width: 1200px; /* Largura máxima do conteúdo */
  margin: 0 auto; /* Centraliza o conteúdo */
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.sidebar a {
  padding: 15px 80px; /* Aumenta o padding para mais espaço vertical */
  text-decoration: none;
  font-size: 18px; /* Tamanho da fonte na sidebar */
  color: #818181;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
