body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #26A4C2;
  font-family: Arial, sans-serif;
}

.container, .payment-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  box-sizing: border-box;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input[type="text"],
.input-group input[type="datetime-local"] {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  background-color: #0a0a0a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.button:hover {
  background-color: #3b9bbb;
}

.payment-value {
  font-size: .0em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; 
}

.input-group,
.vagas-info {
  width: calc(50% - 10px); 
  box-sizing: border-box;
}

.vagas-info {
  background-color: #f0f0f0; 
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.link {
  display: inline-block;
  padding: 10px 20px;
  background-color: hsl(0, 2%, 10%);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.link:hover {
  background-color: #3b9bbb;
}


