body {
  display: flex;
  height: 100vh;
  margin: 0;
  background-color: #105F71;
  font-family: Arial, sans-serif;
}

#main {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
}

.container {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 48%;
  margin: 1%;
  box-sizing: border-box;
  border: green solid 1px;
}

.input-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input[type="text"],
.input-group input[type="datetime-local"] {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  background-color: #0a0a0a;
  color: white;
  padding: 5px 10px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px; 
  display: block;
  width: 70%; 
  text-align: center;
  margin: 10px auto;
}

.button:hover {
  background-color: #105F71;
}

.vehicle-list {
  max-height: 200px; 
  overflow-y: auto; 
  margin-bottom: 20px; 
}

#veiculosCadastrados {
  max-height: 200px; 
  overflow-y: auto; 
  margin-bottom: 20px; 
  text-decoration: none;
}

.container-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pesquisaVeiculos, #listaVeiculos {
  flex: 1;
}

#listaVeiculos {
  text-align: center; 
}

.vagas-info {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:#f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color:#105F71;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #105F71;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  width: 100%;
}


.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

.button {
  padding: 5px 10px;
  font-size: 14px;
  margin-right: 5px;
  margin-top: 5px;
}

.vehicle-list, #resultadoPesquisa {
  margin-top: 20px;
  font-size: 14px;
}

.vehicle-list button, #resultadoPesquisa button {
  padding: 2px 2px;
  font-size: 12px;
  margin-right: 0px;
  margin-top: 3px;
}
