body {
  display: flex;
  justify-content: center;
  height: 75vh;
  margin: 0;
  background-color: #105F71;
  font-family: Arial, sans-serif;
  border: rgb(0, 102, 255);
  margin-top: 100px;
}

.container, .payment-container {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  box-sizing: border-box;
  border: green solid 1px;
}

.input-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input[type="text"],
.input-group input[type="datetime-local"] {
  width: 100%;
  height: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  background-color: #0a0a0a;
  color: white;
  padding: 5px 10px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px; 
  display: block;
  width: 70%; 
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: #105F71;
}

.payment-value {
  font-size: 1px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  display: flex;
  width: 80%;

  flex-wrap: wrap;
  margin-right: 20px;
  margin-top: 20px;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: baseline;
}


.input-group,
.vagas-info {
  width: calc(50% - 10px);

  box-sizing: border-box;
}

.vagas-info {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.link {
  display: inline-block;
  padding: 5px 10px; 
  background-color: hsl(0, 43%, 95%);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.result-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.result-container h2 {
  margin-bottom: 10px;
  font-size: 10px;
  color: #333;
}

.result-container p {
  margin-bottom: 5px;
  font-size: 16px;
}

.result-container .button {
  background-color: #0a0a0a;
  color: white;
  padding: 5px 10px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px; 
  display: flex;
  margin-top: 10px;
  text-decoration: none;
}

.result-container .button:hover {
  background-color: #105F71;
}

.vehicle-list {
  max-height: 200px; 
  overflow-y: auto; 
  margin-bottom: 20px; 
}

#veiculosCadastrados {
  max-height: 200px; 
  overflow-y: auto; 
  margin-bottom: 20px; 
  text-decoration: none;
}
.container-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pesquisaVeiculos, #listaVeiculos {
  flex: 1;
}

#listaVeiculos {
  text-align: center; 
}

.button {
  margin-top: 10px;
  display: inline-block;
  text-align: center; 
  padding: 10px 20px; 
  background-color: #141516; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.button:hover {
  background-color: #0056b3; 
}


table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 8px;
  text-align: left;
}




.sidebar {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
